/*
STYLE SHEET FOR datiaperti.it
Created by Luigi Selmi January 20th 2013
ToC
1. defaults
2. structure
3. links and navigation
4. fonts
5. images
Notes:
This stylesheet has only three elements, a wrapper and a content element and footer within it
*/
/* --------- 1. defaults --------- */
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
}

body {
	font: 62.5%/1.5 Verdana, Arial, Helvetica, sans-serif;
	color: black;
	background: white;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 100px;
	margin-left: 100px;
}

/*
The wrapper element contains all the elements of the page. All other elements 
must be put within the wrapper in the html files
*/
#wrapper { 
	border-style: solid;
	border-width: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 10%;
	padding-left: 10%;
	background: white;
	width: 80%;
}

/* --------- 2. structure --------- */
#top {
	background: white;
}

#mainColumn  {
	margin: 0px;
	border-style:solid;
	border-width: 0px;
	padding-top:25px;
	padding-bottom:10px;
	padding-right:50px;
	padding-left:50px;

}

#footer {
	text-align: center;
	border-style: solid;
	border-width: 0px;
	margin-top: 200px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom:10px;
}

/* 3. links and navigation */
div.menu {
	margin: 10px;
	padding: 10px;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
}

div.menu ul {
	float: left;
	display: inline;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

div.menu li {
	display: inline;
}

div.menu a {
	float: left;
	width: 8em;
	text-decoration: none;
	color: blue;
	padding: 0.2em 0.6em;
	border-right: 1px solid white;
}

div.menu a:hover {
	color: red;
}

